.form{
    margin-top: 20px;
    width: 400px;
    height: 350px;
    padding: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ABABAB;
    box-sizing: border-box;
    border-radius: 4px;
}
.form h4{
    margin-top: -25px;
    margin-bottom: -12px;
}
.form input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #D5D5D5;
    margin: 6px 0px;
    padding: 2px 7px;
}
.form .submit-button{
    margin-top: 8px;
    padding: 5px;
    background-color: #275A53;
    ;
    border-radius: 4px;
    font-weight: 500;
    color: #fff;
}
.form .submit-button:hover{
    background-color: #275A53; 
}
.form ::placeholder{
    color: rgb(100, 98, 98);
    font-size: 15px;
    font-weight: 350;
}
.socialLoginButton{
    text-align: center;
}
.socialLoginButton button{
    border: 1px solid #DCDCDC;
    width: 266px;
    height: 33px;
    border-radius:25px;
    margin: 4px;
    background-color: white;
    font-weight: 450;
    
}
.socialLoginButton button:hover{
    background-color: #F7F7F7;
    border-color: lightgrey;
}
.alert{
    text-align: center;
    margin-top: -15px;
}
.small , small{
    font-weight: 500;
}
.alert a{
    color:  #275A53;
}
.socialIcon{
    height: 25px;
    width: 25px;
    float: left;
    margin-left: -3px;
}
.divider{
    width: 265px;
    background:  #ABABAB;
}
