.login-form{
    margin-top:50px;
    width: 405px;
    height: 265px;
    padding: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ABABAB;
    box-sizing: border-box;
    border-radius: 4px;
}
.login-form h4{
    margin-top: -25px;
    margin-bottom: -5px;
}
.login-form input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #D5D5D5;
    margin: 7px 0px;
    padding: 2px 7px;
}
.login-form .submit-button{
    margin-top: 15px;
    padding: 5px;
    background-color: #275A53;
    border-radius: 4px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #fff;
}
.login-form .submit-button:hover{
    background-color: #275A53; 
}
.login-form ::placeholder{
    color: rgb(100, 98, 98);
    font-size: 15px;
    font-weight: 350;
}
.alert{
    text-align: center;
}
.socialLoginButton{
    text-align: center;
}
.socialAdminLoginButton button{
    border: 1px solid #DCDCDC;
    width: 300px;
    height: 40px;
    border-radius:20px;
    margin: 4px;
    background-color: white;
    font-weight: 450;
    font-size: 20px;
    
}
.socialLoginButton button:hover{
    background-color: #F7F7F7;
    border-color: lightgrey;
}
.small , small{
    font-weight: 500;
}
.alert a{
    color:  #275A53;
}
.socialIconAdmin{
    height: 30px;
    width: 30px;
    float: left;
    margin-left: -3px;
}
.divider{
    width: 265px;
    background:  #ABABAB;
}

.adminLoginBox{
    margin: auto auto;
    padding: 100px 0px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    background: #71C2B7;
    text-align: center;
    max-width: 500px;
}
